<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mageplaza\GiftCard\Api\Data\GiftCardInterface" type="Mageplaza\GiftCard\Model\GiftCard" />
    <preference for="Mageplaza\GiftCard\Api\GiftCardRepositoryInterface" type="Mageplaza\GiftCard\Model\GiftCardRepository" />
    <preference for="Mageplaza\GiftCard\Api\Data\GiftCardSearchResultsInterface" type="Mageplaza\GiftCard\Model\GiftCardSearchResults" />
    <preference for="Mageplaza\GiftCard\Api\Data\GiftCardHistoryInterface" type="Mageplaza\GiftCard\Model\GiftCardHistory" />
    <preference for="Mageplaza\GiftCard\Api\GiftCardHistoryRepositoryInterface" type="Mageplaza\GiftCard\Model\GiftCardHistoryRepository" />
    <preference for="Mageplaza\GiftCard\Api\Data\GiftCardHistorySearchResultsInterface" type="Mageplaza\GiftCard\Model\GiftCardHistorySearchResults" />

    <!-- <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="customer_repository_plugin" type="Mageplaza\GiftCard\Plugin\CustomerRepositoryInterface" />
    </type> -->
    <!-- <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="coupon.validation" type="Mageplaza\GiftCard\Plugin\PostCouponCodeValidation" sortOrder="1" disabled="false" />
    </type> -->
    <!-- <type name="Magento\Quote\Model\CouponManagement">
        <plugin name="coupon.set.validation" type="Mageplaza\GiftCard\Plugin\SetCouponCode" sortOrder="2" disabled="false" />
    </type> -->
    <type name="Magento\Checkout\Block\Cart\Coupon">
        <plugin name="set.display.giftcard" type="Mageplaza\GiftCard\Plugin\GiftCardValue" disabled="false" />
    </type>

    <virtualType name="GiftCardGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Mageplaza\GiftCard\Model\ResourceModel\GiftCard\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">GiftCardListingFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="GiftCardListingFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mage_giftcode_listing_data_source" xsi:type="string">Mageplaza\GiftCard\Model\ResourceModel\GiftCard\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Mageplaza\GiftCard\Model\ResourceModel\GiftCard\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">giftcard_code</argument>
            <argument name="resourceModel" xsi:type="string">Mageplaza\GiftCard\Model\ResourceModel\GiftCard</argument>
            <argument name="eventPrefix" xsi:type="string">giftcard_code_event</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Mageplaza\GiftCard\Api\Data\GiftCardInterface" xsi:type="string">Mageplaza\GiftCard\Api\GiftCardRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
</config>
