<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageplaza" translate="label" sortOrder="10" >
            <label>Mageplaza Extensions</label>
        </tab>
        <section id="giftcard" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gift Card</label>
            <tab>mageplaza</tab>
            <resource>Mageplaza_GiftCard::giftcard_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>General Configuration</label>
                <field id="gift" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Enable Gift Card</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="checkout" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Allow used Gift Card at checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set default shipping method in the checkout process.</comment>
                </field>
                <field id="payment" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Allow redeem Gift Card </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set default payment method in the checkout process.</comment>
                </field>
            </group>
            <group id="code_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Code Configuration</label>
                <field id="code_length" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1" canRestore="1">
                    <label>Code length</label>
                    <validate>validate-greater-than-zero validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
